.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

img.upload-preview {
  width: 128px;
  height: 128px;
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.prescription {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
}
.prescription .drug-image-block {
  max-height: 200px;
  width: 300px;
}
.prescription img {
  width: auto;
  max-height: 200px;
}
.prescription > div.drugNote {
  margin-left: 80px;
}
.prescription-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}