.logo {
  height: 60px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

.user-avatar {
  cursor: pointer;
  margin-left: 50px;
}

.clearfix {
  overflow: auto;
}

.patientDetails-title {
  font-weight: 500;
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
